<!DOCTYPE html>
<html>

<head>
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="index.css">
	<script src='index.js'></script>
	<title>Utilibot</title>
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-dark">
		<a class="navbar-brand" href="#"><img alt="logo" style="width:40px;" src="https://cdn.discordapp.com/avatars/755084857280954550/3c024ae2fdbc99065681e4821569106c.webp?size=1024"></a>
		<!-- Links -->
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">Link 1</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link 2</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link 3</a>
			</li>
		</ul>

	</nav>
	<div id="maintext" style="padding-left: 80px;padding-top: 50px;">
		<h1>Hello. Welcome to the official Utilibot website.</h1>
		<p>This is currently not much, will have more things later.</p>
	</div>
</body>

</html>